*, *:before, *:after {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding: 0 165px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(130.02deg, rgba(202, 224, 251, 0.75) 0.66%, rgba(167, 153, 194, 0.93) 83.32%) no-repeat fixed;
}

.logo_img {
    width: 29.03px;
    height: 26.52px;
    margin-right: 12px;
}

.logo_container {
    display: flex;
    text-align: center;
    align-items: center;
}

.reg-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    text-align: right;
    display: block;
    padding: .5rem 1rem;
    color: #BABCDA;
    background: #303056;
    border: 3px solid #303056;
    box-sizing: border-box;
    border-radius: 41px;
}

.reg-btn:focus, .reg-btn:hover {
    transition: 0.3s ease-out;
    text-decoration: none;
    color: #303056;
    border: 3px solid #303056;
    background: none;
}

.enter-btn {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: block;
    padding: .5rem 1rem;
    line-height: 16px;
    text-align: right;
    color: #303056;
    border: 3px solid #303056;
    box-sizing: border-box;
    border-radius: 41px;
}

.enter-btn:focus, .enter-btn:hover {
    transition: 0.3s ease-out;
    text-decoration: none;
    color: #BABCDA;
    background: #303056;
    border: 3px solid #303056;
}

.main_container {
    width: 100%;
    display: flex;
    margin-top: 15px;
    height: 434px;
    justify-content: space-between;
    padding: 0 31px;
}

.banner_taital {
    float: left;
}

.header_text {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FF5B79;
}

.main_text {
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 109%;
    color: #303056;
    margin-bottom: 25px;
}

.footer_text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    color: #303056;
}

.main_btn {
    margin-top: 51px;
    width: 435.18px;
    height: 95px;
    display: flex;
    align-items: center;

}

.search_btn {
    width: 183px;
    height: 92px;
    background-image: url('../icons/main_pink_btn.svg');
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    float: left;
    border: none;
    background-color: transparent;
    margin-right: 57px;
}

.search_btn:hover {
    transition: 0.5s;
    filter: drop-shadow(0px 4px 16px #FF5B79);
}

.search_btn, .search_btn:active, .search_btn:focus {
    outline: none;
    border: none;
    text-decoration: none;
}

.btn_after_text {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #303056;
}

.btn_after_text::after {
    margin-left: 13px;
    content: url('../icons/arrow.svg');
}

.main_card {
    position: relative;
    width: max-content;
    height: max-content;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-radius: 35px;
    align-items: center;
    text-align: center;
}

.card_header {
    margin: 55px 205px 43px 205px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 109%;
    color: rgba(48, 48, 86, 0.7);
    text-shadow: 0 4px 15px rgba(48, 48, 86, 0.3);
}

.user_name_input {
    width: 450px;
    height: 65px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.55);
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 19px;
    margin-bottom: 37px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: rgba(48, 48, 86, 0.7);
}

.user_name_input::placeholder {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: rgba(48, 48, 86, 0.4);
}

.user_name_input:focus, .user_name_input:active {
    text-align: center;
    outline: none;
    border: none;
}

.submit_btn {
    width: 320px;
    height: 84px;
    background: #FF5B79;
    border-radius: 20px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.submit_btn:focus, .submit_btn:active, .submit_btn:hover {
    outline: none;
    box-shadow: 0 4px 20px rgba(255, 91, 121, 0.7);
    transition: 0.3s ease-out;
}

.forgot_pass_div {
    margin-bottom: 32px;
}

.forgot_pass {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    color: rgba(48, 48, 86, 0.5);
}

.forgot_pass:hover, .forgot_pass:focus, .forgot_pass:active {
    outline: none;
    text-decoration: none;
    color: #FF5B79;
    transition: 0.3s ease-out;
}
