*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0 165px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(130.02deg, rgba(202, 224, 251, 0.75) 0.66%, rgba(167, 153, 194, 0.93) 83.32%) no-repeat fixed;
}

.logo_img {
    width: 29.03px;
    height: 26.52px;
    margin-right: 12px;
}

.logo_container {
    display: flex;
    text-align: center;
    align-items: center;
}

.reg-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    text-align: right;
    display: block;
    padding: .5rem 1rem;
    color: #BABCDA;
    background: #303056;
    border: 3px solid #303056;
    box-sizing: border-box;
    border-radius: 41px;
}

.reg-btn:focus, .reg-btn:hover {
    transition: 0.3s ease-out;
    text-decoration: none;
    color: #303056;
    border: 3px solid #303056;
    background: none;
}

.enter-btn {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: block;
    padding: .5rem 1rem;
    line-height: 16px;
    text-align: right;
    color: #303056;
    border: 3px solid #303056;
    box-sizing: border-box;
    border-radius: 41px;
}

.enter-btn:focus, .enter-btn:hover {
    transition: 0.3s ease-out;
    text-decoration: none;
    color: #BABCDA;
    background: #303056;
    border: 3px solid #303056;
}

.not_auth_card {
    width: max-content;
    height: max-content;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-radius: 35px;
    align-items: center;
    text-align: center;
}

.main_container {
    padding: 30px 30px;
    width: 100%;
    display: block;
}

/*.container_cards_filters {*/
/*    max-width: 1200px;*/
/*}*/

@media (max-width: 1200px) {
    .container_cards_filters {
        max-width: 830px;
    }
}

@media (max-width: 829px) {
    .container_cards_filters {
        max-width: 600px;
    }
}

.row {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 810px;
}

@media (max-width: 829px) {
    .sidebar {
        /* display: none; */
        margin-left: 0 !important;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: white;
        padding: 15px;
        box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.37);
        overflow-y: scroll;
        transform: translateX(-150%);
        transition: transform 0.3s ease-in;
    }

    .sidebar--mobile-active {
        transform: translateX(-0%);
    }
}

.main + .sidebar {
    margin-left: 50px;
}


/*@media (max-width: 599px) {*/
/*    .cards-holder {*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*    }*/
/*}*/

.cards-holder > .card-link {
    margin-bottom: 30px;
}

.card-link--hidden {
    display: none !important;
}

/* Card */

a.card-link {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

a.card-link:hover {
    opacity: 0.9;
    transform: translateY(-5px);
}

.card {
    position: relative;
    background-color: #fff;
    width: 320px;
    height: 270px;
}

.card_header {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 109%;
    color: rgba(48, 48, 86, 0.7);
}

.cards-holder {
    display: contents;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.card__img img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 9px 9px;
    object-fit: cover;
}

.card__badges {
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;
    display: flex;
}

.card__badges > * + * {
    margin-left: 10px;
}

.card__badge {
    display: inline-block;
    height: 22px;
    padding: 0 10px;
    background: #a3a3a3;
    border-radius: 4px;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
}

.card__badge--class {
    background: #FF5B79;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.card__content {
    padding: 15px 13px 13px;
}

.card__title {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    color: #000000;
}

/* Pagination */
.pagination {
    width: auto;
    margin: 0 auto
}

.pagination,
.pagination__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.pagination__link {
    position: relative;
    left: -1px;
    top: 1px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #6163b9
}

@media only screen and (max-width: 767px) {
    .pagination__link {
        font-size: 15px
    }
}

@media only screen and (min-width: 1025px) {
    .pagination a.pagination__link:hover {
        background: rgba(102, 88, 175, .15)
    }
}

.pagination__item {
    transition: all .2s ease-in-out;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    margin: 0 2px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

@media only screen and (max-width: 767px) {
    .pagination__item {
        margin: 0 2px;
        width: 33px;
        height: 33px
    }
}

.pagination__item:first-child {
    margin-left: 0
}

.pagination__item:last-child {
    margin-right: 0
}

@media only screen and (max-width: 1023px) {
    .pagination__item:nth-child(3),
    .pagination__item:nth-child(9) {
        display: none
    }
}

@media only screen and (min-width: 1025px) {
    .pagination__item.active:hover
    .pagination__link {
        color: #fff;
        background: #6658af
    }
}

.pagination__item.active .pagination__link {
    color: #fff;
    background: #6658af
}

.pagination__item--dots .pagination__link {
    color: #bfc0f1
}

/* --/Pagination */

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 4px;
    left: 3.8px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #FF5B79;
}

#submit1 {
    width: 100%;
    height: 45px;
    display: block;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.filters {
    width: 100%;
    height: 45px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.filter_header {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 4px;
}

.fa-caret-down {
    float: left;
    padding-left: 10px;
}

.filter_header {
    background: none;
    border: none;
}

.filter_header:active, .filter_header:focus {
    border: none;
    outline: none;
}

.filter {
    padding: 10px;
    margin-bottom: 20px;
    background: #f3f3f3;
    border-radius: 5px;
    height: fit-content;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.other_filter {
    padding: 10px;
    margin-bottom: 20px;
    background: #f3f3f3;
    border-radius: 5px;
    width: 100%;
    height: fit-content;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}


.poster {
    position: relative;
}

.descr {
    display: none;
    margin-left: -190px;
    padding: 10px;
    margin-top: 22px;
    background: #f3f3f3;
    height: fit-content;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.poster:hover .descr {
    display: block;
    position: absolute;
    top: 15px;
    z-index: 9999;
    width: fit-content;
    border-radius: 5px;
}

.account_h {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}