*, *:before, *:after {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    padding-right: 165px;
    padding-left: 165px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(130.02deg, rgba(202, 224, 251, 0.75) 0.66%, rgba(167, 153, 194, 0.93) 83.32%);
}

#header {
    padding: 0 31px;
    margin-top: 8px;
}

.logo_img {
    width: 29.03px;
    height: 26.52px;
    margin-right: 12px;
}

.logo_container {
    display: flex;
    text-align: center;
    align-items: center;
}

.reg-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    text-align: right;
    /* Calm Dark */
    display: block;
    padding: .5rem 1rem;
    color: #BABCDA;
    background: #303056;
    border: 3px solid #303056;
    box-sizing: border-box;
    border-radius: 41px;
}

.reg-btn:focus, .reg-btn:hover {
    transition: 0.3s ease-out;
    text-decoration: none;
    color: #303056;
    border: 3px solid #303056;
    background: none;
}

.enter-btn {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: block;
    padding: .5rem 1rem;
    line-height: 16px;
    text-align: right;
    color: #303056;
    border: 3px solid #303056;
    box-sizing: border-box;
    border-radius: 41px;
}

.enter-btn:focus, .enter-btn:hover {
    transition: 0.3s ease-out;
    text-decoration: none;
    color: #BABCDA;
    background: #303056;
    border: 3px solid #303056;
}

.not_auth_card{
    position: center;
    width: max-content;
    height: max-content;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-radius: 35px;
    align-items: center;
    text-align: center;
}

.main_container {
    padding: 60px 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

img {
    display: block;
    width: 250px;
}

.container_cards_filters {
    max-width: 1200px;
}

@media (max-width: 1200px) {
    .container_cards_filters {
        max-width: 830px;
    }
}

@media (max-width: 829px) {
    .container_cards_filters {
        max-width: 600px;
    }
}

.row {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 810px;
}

.sidebar {
    min-width: 120px;
    width: 200px;
}

@media (max-width: 829px) {
    .sidebar {
        /* display: none; */
        margin-left: 0 !important;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: white;
        padding: 15px;
        box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.37);
        overflow-y: scroll;
        transform: translateX(-150%);
        transition: transform 0.3s ease-in;
    }

    .sidebar--mobile-active {
        transform: translateX(-0%);
    }
}

.main + .sidebar {
    margin-left: 50px;
}

.cards-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 599px) {
    .cards-holder {
        flex-direction: column;
        align-items: center;
    }
}

.cards-holder > .card-link {
    margin-bottom: 30px;
}

.card-link--hidden {
    display: none !important;
}

/* Card */

a.card-link {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

a.card-link:hover {
    opacity: 0.9;
    transform: translateY(-5px);
}

.card {
    position: relative;
    width: 251px;
    background-color: #fff;
}

.card__badges {
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;
    display: flex;
}

.card__badges > * + * {
    margin-left: 10px;
}

.card__badge {
    display: inline-block;
    height: 22px;
    padding: 0 10px;
    background: #a3a3a3;
    border-radius: 4px;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
}

.card__badge--class {
    background: #FF5B79;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.card__content {
    padding: 15px 13px 13px;
}

.card__title {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    color: #000000;
}