{% for found_pets_list in found_pets %}
    <a class="card-link" href="{{ found_pets_list.get_absolute_url }}"
       style="margin-left: 0;">
        <div class="card" style="border-radius: 9px;">
            <div class="card__badges">
                <div class="card__badge card__badge--class">{{ found_pets_list.found_pet_status }}</div>
            </div>
            <div class="card__img" style="    border-radius: 9px;">
                <img src="{{ MEDIA_URL }}{{ found_pets_list.found_petImagePath.url }}"
                     alt="{{ found_pets_list.pet_name }}">
            </div>
            <div class="card__content">
                <h4 class="card__title">{{ found_pets_list.found_pet_name }}</h4>
            </div>
        </div>
    </a>
{% endfor %}
