<!DOCTYPE html>
{% load crispy_forms_filters %}
{% load static %}
<html lang="en">

<head>
    <title>PetShelter INC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/lost_found_pets_style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&family=Roboto:wght@400;500&family=Lato:wght@400;700&display=swap"
          rel="stylesheet">
    <!-- Awesom Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Scripts -->
    <script src="{% static 'js/filter_script.js' %}"></script>
    <script src="{% static 'js/hogan-3.0.1.js' %}"></script>
    <script src="{% static 'js/docs.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
</head>
<body>

<div class="header" id="header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="logo_container">
                <img class="logo_img" src="{% static 'assets/img/skull_logo.png' %}" alt="logo">
                <a class="navbar-brand">NIK_RAYN INC</a>
            </div>
            <form class="d-flex">
                <div class="nav" style="align-items: center; text-align: center">
                    <a class="nav-link" href="/">Главная</a>
                    <a class="nav-link" href="/pets">Животные</a>
                    <a class="nav-link" href="/map">Карта</a>
                    <a class="nav-link " href="/found_pets">Объявления</a>
                    <a class="nav-link" href="/help_page">Помощь</a>
                    <a class="enter-btn" href="/account">Аккаунт</a>
                </div>
            </form>
        </div>
    </nav>
</div>

<div class="main_container">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Изменение объявления о пропаже -
                {% if success_message %}
                    {{ success_message }}
                {% endif %}
            </h5>
            <a type="button" class="close" href="{% url 'account' %}">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>

        <div class="modal-body">

            <form method="post" enctype="multipart/form-data" class="post-form"
                  action="">
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" style="width: 470px; text-align: center; font-size: 12px;">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" style="width: 420px; text-align: center; font-size: 12px;">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {{ form }};
                <div class="modal-footer">
                    <a type="button" class="btn btn-secondary" href="{% url 'account' %}">
                        Закрыть
                    </a>
                    <button type="submit" class="btn btn-primary" id="create_pet">Обновить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>

