<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>PetShelter INC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/lost_found_pets_style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&family=Roboto:wght@400;500&family=Lato:wght@400;700&display=swap"
          rel="stylesheet">
    <!-- Awesom Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Scripts -->
    <script src="{% static 'js/filter_script.js' %}"></script>
    <script src="{% static 'js/hogan-3.0.1.js' %}"></script>
    <script src="{% static 'js/docs.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
<div class="header" id="header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="logo_container">
                <img class="logo_img" src="{% static 'assets/img/skull_logo.png' %}" alt="logo">
                <a class="navbar-brand">NIK_RAYN INC</a>
            </div>
            <form class="d-flex">
                <div class="nav" style="align-items: center; text-align: center">
                    <a class="nav-link" href="/">Главная</a>
                    <a class="nav-link" href="/pets">Животные</a>
                    <a class="nav-link" href="/map">Карта</a>
                    <a class="nav-link" href="#">Помощь</a>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <div class="poster">
                                <a class="enter-btn" href="/account">Аккаунт</a>
                                <div class="descr">
                                    <a class="nav-link" href="https://yandex.ru/map-constructor">Редактор карт</a>
                                    <a class="nav-link" href="/admin">Админинистрационная панель</a>
                                </div>
                            </div>

                        {% else %}
                            <a class="enter-btn" href="/account">Аккаунт</a>
                        {% endif %}
                        </div>
                        </form>
                        </div>
                        </nav>
                        </div>

                        <div class="main_container">
                            <div class="filters">
                                <a class="filter_header filter_after" style="color: #FF5B79" href="/found_pets">Объявления
                                    о нахождении
                                </a>

                                <a class="filter_header filter_after" style="color: white" href="/lost_pets">
                                    Объявления о пропаже
                                </a>
                            </div>
                            <div class="filters">
                                <div class="filter_header">Фильтры</div>
                                <button class="filter_header filter_after" id="breed_btn_filter"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#breed_filter" aria-expanded="false"
                                        aria-controls="breed_filter" type="button">
                                    Порода
                                    <i class="fa fa-caret-down"></i>
                                </button>

                                <button class="navbar-toggle filter_header filter_after" id="gender_btn_filter"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#gender_filter" aria-expanded="false"
                                        aria-controls="gender_filter" type="button">
                                    Пол
                                    <i class="fa fa-caret-down"></i>
                                </button>

                                <button class="filter_header filter_after" id="other_btn_filter"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#other_filter" aria-expanded="false"
                                        aria-controls="other_filter" type="button">
                                    Доп.фильтры
                                    <i class="fa fa-caret-down"></i>
                                </button>

                                <button class="filter_header filter_after" type="submit" id="sumbit_o">
                                    Найти
                                </button>

                            </div>
                            <form action="{% url 'filter_f' %}" method="get" name="filter">
                                <div id="breed_filter" class="collapse">
                                    <div class="card card-body filter">
                                        <ul style="list-style: none">
                                            {% for breeds in view.get_found_pets_breeds %}
                                                <li>
                                                    <input type="checkbox" name="breeds"
                                                           value="{{ breeds.found_pet_breed }}">
                                                    <span>{{ breeds.found_pet_breed }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div id="gender_filter" class="collapse">
                                    <div class="card card-body filter" style="margin-left: 350px; text-align: center"
                                         id="gen_f">
                                        <ul style="list-style: none; display: flex; padding: 0; margin-bottom: 0; justify-content: space-around;">
                                            {% for genders in view.get_found_pets_genders %}
                                                <label class="container">{{ genders.found_pet_gender }}
                                                    <input type="radio" name="genders"
                                                           value="{{ genders.found_pet_gender }}">
                                                    <span class="checkmark"></span>
                                                </label>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <div id="other_filter" class="collapse">
                                    <div class="card card-body other_filter">
                                        <div class="row" style="align-items: flex-start">
                                            <div class="col">
                                                <ul style="list-style: none">
                                                    <h6>Пол</h6>
                                                    {% for ages in view.get_found_pets_ages %}
                                                        <li>
                                                            <input type="checkbox" name="ages"
                                                                   value="{{ ages.found_pet_age }}">
                                                            <span>{{ ages.found_pet_age }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul style="list-style: none;padding: 0; margin-bottom: 0; justify-content: space-around;">
                                                    <h6>Размер</h6>
                                                    {% for sizes in view.get_found_pets_size %}
                                                        <li>
                                                            <input type="checkbox" name="sizes"
                                                                   value="{{ sizes.found_pet_size }}">
                                                            <span>{{ sizes.found_pet_size }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul style="list-style: none;padding: 0; margin-bottom: 0; justify-content: space-around;">
                                                    <h6>Цвет</h6>
                                                    {% for colors in view.get_found_pets_color %}
                                                        <li>
                                                            <input type="checkbox" name="wool_colors"
                                                                   value="{{ colors.found_pet_color }}">
                                                            <span>{{ colors.found_pet_color }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul style="list-style: none;padding: 0; margin-bottom: 0; justify-content: space-around;">
                                                    <h6>Дата</h6>
                                                    {% for dates in view.get_found_pets_date %}
                                                        <li>
                                                            <input type="checkbox" name="dates"
                                                                   value="{{ dates.found_pet_found_datetime }}">
                                                            <span>{{ dates.found_pet_found_datetime }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <button type="submit" id="submit1" style="display: none">Найти</button>
                            </form>

                            <div class="container_cards_filters">
                                <div class="row" style="margin: 0">
                                    <main class="main cards-holder" id="card-list">
                                        {% include "include/found_pets_list_2.html" %}
                                    </main>
                                </div>
                                {% include "include/pagination_found_pets.html" with FoundPetsListView=page_obj %}
                            </div>
                        </div>

                        <div class="d-grid gap-2 justify-content-md-end div_add_btn" style="position: fixed">
                            <a id="add_btn" class="add_button" href="{% url 'add_found_pets' %}"
                               style="text-decoration: none;">+
                            </a>
                        </div>

                        {#                        <!-- Button trigger modal -->#}
                        {#                        <button type="button" class="btn btn-primary div_add_btn show-form"#}
                        {#                                data-url="{% url 'found_pet_create' %}"#}
                        {#                                data-toggle="modal" data-target="#modal-found-pet">#}
                        {#                            Добавить объявление#}
                        {#                        </button>#}
                        {#                        <!-- Modal -->#}
                        {#                        <div class="modal fade" id="modal-found-pet" tabindex="-1"#}
                        {#                             aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">#}
                        {#                            <div class="modal-dialog modal-lg"#}
                        {#                                 role="document">#}
                        {#                                <div class="modal-content">#}
                        {#                                    <form enctype="multipart/form-data" method="post" class="create-form"#}
                        {#                                          data-url="{% url 'found_pet_create' %}"></form>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    {% else %}
                        <a class="reg-btn" href="{% url 'signup_url' %}">Регистрация</a>
                        <a class="enter-btn" href="/accounts/login/">Вход</a>
                        </div>
                        </form>
                        </div>
                        </nav>
                        </div>

                        <div class="main_container"
                             style="align-items: center; text-align: center; justify-content: center; display: flex;">
                            <div class="not_auth_card">
                                <p class="card_header" style="margin: 55px 205px 15px 205px;">ВОЙДИТЕ или
                                    ЗАРЕГИСТРИРУЙТЕСЬ</p>
                                <p class="card_header" style="margin-bottom: 55px;">В целях безопастности и сохранности
                                    данных просим вас <br> войти в аккаунт или зарегистрировать новый</p>
                            </div>
                        </div>
                    {% endif %}

<script>
    $(document).mouseup(function (e) {
        var container = $("#breed_filter");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            container.collapse('hide');
        }
    });

    $(document).mouseup(function (e) {
        var container = $("#gender_filter");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            container.collapse('hide');
        }
    });
    $(document).mouseup(function (e) {
        var container = $("#other_filter");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            container.collapse('hide');
        }
    });
    document.getElementById('sumbit_o').onclick = function (event) {
        document.getElementById('submit1').click();
    };
</script>
</body>

</html>