<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>PetShelter INC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&family=Roboto:wght@400;500&display=swap"
          rel="stylesheet">
</head>

<body>
<div class="header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="logo_container">
                <img class="logo_img" src="{% static 'assets/img/skull_logo.png' %}" alt="logo">
                <a class="navbar-brand">NIK_RAYN INC</a>
            </div>
            <form class="d-flex">
                <div class="nav" style="align-items: center; text-align: center">
                    <a class="nav-link" href="/pets">Животные</a>
                    <a class="nav-link" href="/map">Карта</a>
                    <a class="nav-link " href="/found_pets">Объявления</a>
                    <a class="nav-link" href="#">Помощь</a>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <div class="poster">
                                <a class="enter-btn" href="/account">Аккаунт</a>
                                <div class="descr">
                                    <a class="nav-link" href="https://yandex.ru/map-constructor">Редактор карт</a>
                                    <a class="nav-link" href="/admin">Админинистрационная панель</a>
                                </div>
                            </div>

                        {% else %}
                            <a class="enter-btn" href="/account">Аккаунт</a>
                        {% endif %}
                    {% else %}
                        <a class="reg-btn" href="{% url 'signup_url' %}">Регистрация</a>
                        <a class="enter-btn" href="/accounts/login/">Вход</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </nav>
</div>

<div class="main_container" style="padding: 10px 31px">
    <div class="banner_title">
        <h1 class="header_text">Помогать легко</h1>
        <h1 class="main_text">ЭТИМ </br> ХВОСТАТЫМ </br> НУЖНА ЛЮБОВЬ </br> И ЗАБОТА</h1>
        <p class="footer_text">Более 1000 животных нуждаются в помощи. </br>
            Так почему бы и не помочь!
        </p>
        <div class="main_btn">
            <a href="/pets">
                <button class="search_btn">Подобрать сейчас</button>
            </a>
            <p class="btn_after_text">Анкеты животных</p>
        </div>
    </div>
    <div class="carousel_container" style="width: 450px">
        <img src="{% static 'assets/img/Pic-3.png' %}" class="d-block" id="carousel_pic1" alt="0" width="530"
             height="565">
    </div>
</div>
</body>

</html>