<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>PetShelter INC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/pets_style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&family=Roboto:wght@400;500&family=Lato:wght@400;700&display=swap"
          rel="stylesheet">
    <!-- Awesom Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Scripts -->
    <script src="{% static 'js/filter_script.js' %}"></script>
    <script src="{% static 'js/hogan-3.0.1.js' %}"></script>
    <script src="{% static 'js/docs.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>

<body>
<div class="header" id="header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="logo_container">
                <img class="logo_img" src="{% static 'assets/img/skull_logo.png' %}" alt="logo">
                <a class="navbar-brand">NIK_RAYN INC</a>
            </div>
            <form class="d-flex">
                <div class="nav" style="align-items: center; text-align: center">
                    <a class="nav-link" href="/">Главная</a>
                    <a class="nav-link" href="/map">Карта</a>
                    <a class="nav-link" href="#">Объявления</a>
                    <a class="nav-link" href="#">Помощь</a>
                    {% if user.is_authenticated %}
                        <p class="nav-link" style="margin-bottom: 0">Аккаунт: {{ user.username }}</p>
                        <a class="enter-btn" href="{% url 'logout_url' %}">Выход</a>
                        </div>
                        </form>
                        </div>
                        </nav>
                        </div>

                        <div class="main_container">
                            <div class="filters">
                                <div class="filter_header">Фильтры</div>
                                <button class="filter_header filter_after" id="breed_btn_filter"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#breed_filter" aria-expanded="false"
                                        aria-controls="breed_filter" type="button">
                                    Порода
                                    <i class="fa fa-caret-down"></i>
                                </button>

                                <button class="filter_header filter_after" id="age_btn_filter"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#age_filter" aria-expanded="false"
                                        aria-controls="age_filter" type="button">
                                    Возраст
                                    <i class="fa fa-caret-down"></i>
                                </button>

                                <button class="navbar-toggle filter_header filter_after" id="gender_btn_filter"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#gender_filter" aria-expanded="false"
                                        aria-controls="gender_filter" type="button">
                                    Пол
                                    <i class="fa fa-caret-down"></i>
                                </button>

                                <button class="filter_header filter_after" id="other_btn_filter"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#other_filter" aria-expanded="false"
                                        aria-controls="other_filter" type="button">
                                    Доп.фильтры
                                    <i class="fa fa-caret-down"></i>
                                </button>
                            </div>
                            <form action="{% url 'filter' %}" method="get" name="filter">
                                <div id="breed_filter" class="collapse">
                                    <div class="card card-body filter">
                                        <ul style="list-style: none">
                                            {% for breeds in view.get_pets_breeds %}
                                                <li>
                                                    <input type="checkbox" name="breeds"
                                                           value="{{ breeds.idpet_breed }}">
                                                    <span>{{ breeds.breed }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <div id="age_filter" class="collapse">
                                    <div class="card card-body filter" style="margin-left: 360px;">
                                        <ul style="list-style: none">
                                            {% for genders in view.get_pets_genders %}
                                                <li>
                                                    <input type="radio" name="genders"
                                                           value="{{ genders.pet_gender }}">
                                                    <span>{{ genders.pet_gender }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <div id="gender_filter" class="collapse">
                                    <div class="card card-body filter" style="margin-left: 550px;" id="gen_f">
                                        <ul style="list-style: none; display: flex; padding: 0; margin-bottom: 0; justify-content: space-around;">
                                            {% for genders in view.get_pets_genders %}
                                                <label class="container">{{ genders.pet_gender }}
                                                    <input type="radio" name="genders"
                                                           value="{{ genders.pet_gender }}">
                                                    <span class="checkmark"></span>
                                                </label>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <div id="other_filter" class="collapse">
                                    <div class="card card-body other_filter">
                                        <div class="row" style="align-items: baseline;">
                                            <div class="col">
                                                <ul style="list-style: none;padding: 0; margin-bottom: 0; justify-content: space-around;">
                                                    <h6>Размер</h6>
                                                    {% for sizes in view.get_pets_size %}
                                                        <li>
                                                            <input type="checkbox" name="sizes"
                                                                   value="{{ sizes.pet_size }}">
                                                            <span>{{ sizes.pet_size }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul style="list-style: none;padding: 0; margin-bottom: 0; justify-content: space-around;">
                                                    <h6>Тип</h6>
                                                    <li>
                                                        <input type="checkbox" name="types"
                                                               value="Семейная">
                                                        <span>Семейная</span>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" name="types"
                                                               value="Охранник">
                                                        <span>Охранник</span>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" name="types"
                                                               value="Охотничья">
                                                        <span>Охотничья</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul style="list-style: none;padding: 0; margin-bottom: 0; justify-content: space-around;">
                                                    <h6>Темперамент</h6>
                                                    {% for temps in view.get_pets_temp %}
                                                        <li>
                                                            <input type="checkbox" name="temps"
                                                                   value="{{ temps.pet_temperament }}">
                                                            <span>{{ temps.pet_temperament }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 15px">
                                            <div class="col">
                                                <ul style="list-style: none;padding: 0; margin-bottom: 0; justify-content: space-around;">
                                                    <h6>Длина шерсти</h6>
                                                    {% for wool_lengths in view.get_pets_wool_length %}
                                                        <li>
                                                            <input type="checkbox" name="wool_lengths"
                                                                   value="{{ wool_lengths.pet_wool_length }}">
                                                            <span>{{ wool_lengths.pet_wool_length }}</span>
                                                        </li>
                                                    {% endfor %}
                                                    <li>
                                                        <input type="checkbox" name="wool_lengths"
                                                               value="Длинная">
                                                        <span>Длинная</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul style="list-style: none;padding: 0; margin-bottom: 0; justify-content: space-around;">
                                                    <h6>Цвет</h6>
                                                    {% for wool_colors in view.get_pet_wool_color %}
                                                        <li>
                                                            <input type="checkbox" name="wool_colors"
                                                                   value="{{ wool_colors.pet_wool_color }}">
                                                            <span>{{ wool_colors.pet_wool_color }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul style="list-style: none;padding: 0; margin-bottom: 0; justify-content: space-around;">
                                                    <h6>Дополнительный цвет</h6>
                                                    {% for wool_colors_extras in view.get_pet_wool_color_extra %}
                                                        <li>
                                                            <input type="checkbox" name="wool_colors_extras"
                                                                   value="{{ wool_colors_extras.pet_wool_color_extra }}">
                                                            <span>{{ wool_colors_extras.pet_wool_color_extra }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 20px; align-items: baseline">
                                            <div class="col">
                                                <ul style="list-style: none;padding: 0; margin-bottom: 0; justify-content: space-around;">
                                                    <h6>Здоровье</h6>
                                                    {% for healths in view.get_pet_health %}
                                                        <li>
                                                            <input type="checkbox" name="healths"
                                                                   value="{{ healths.pet_health }}">
                                                            <span>{{ healths.pet_health }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul style="list-style: none;padding: 0; margin-bottom: 0; justify-content: space-around;">
                                                    <h6>Стерилизация</h6>
                                                    {% for sters in view.get_pet_sterilization %}
                                                        <li>
                                                            <input type="checkbox" name="sters"
                                                                   value="{{ sters.pet_sterilization }}">
                                                            <span>{{ sters.pet_sterilization }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul style="list-style: none;padding: 0; margin-bottom: 0; justify-content: space-around;">
                                                    <h6>Вакцинация</h6>
                                                    {% for vaccs in view.get_pet_vaccination %}
                                                        <li>
                                                            <input type="checkbox" name="vaccs"
                                                                   value="{{ vaccs.pet_vaccination }}">
                                                            <span>{{ vaccs.pet_vaccination }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 15px;">
                                            <div class="col">
                                                <ul style="list-style: none;padding: 0; margin-bottom: 0; justify-content: space-around;">
                                                    <h6>Отношение к детям</h6>
                                                    <li>
                                                        <input type="checkbox" name="ch_atts"
                                                               value="Доброжелательное">
                                                        <span>Доброжелательное</span>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" name="ch_atts"
                                                               value="Равнодушное">
                                                        <span>Равнодушное</span>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" name="ch_atts"
                                                               value="Агрессивное">
                                                        <span>Агрессивное</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul style="list-style: none;padding: 0; margin-bottom: 0; justify-content: space-around;">
                                                    <h6>Отношение к котам</h6>
                                                    <li>
                                                        <input type="checkbox" name="cat_atts"
                                                               value="Доброжелательное">
                                                        <span>Доброжелательное</span>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" name="cat_atts"
                                                               value="Равнодушное">
                                                        <span>Равнодушное</span>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" name="cat_atts"
                                                               value="Агрессивное">
                                                        <span>Агрессивное</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col">
                                                <ul style="list-style: none;padding: 0; margin-bottom: 0; justify-content: space-around;">
                                                    <h6>Отношение к другим животным</h6>
                                                    <li>
                                                        <input type="checkbox" name="other_atts"
                                                               value="Доброжелательное">
                                                        <span>Доброжелательное</span>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" name="other_atts"
                                                               value="Равнодушное">
                                                        <span>Равнодушное</span>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" name="other_atts"
                                                               value="Агрессивное">
                                                        <span>Агрессивное</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <button type="submit" id="submit1">Найти</button>
                            </form>

                            <div class="container_cards_filters">
                                <div class="row" style="margin: 0">
                                    <main class="main cards-holder">
                                        {% for pets_list in pets %}
                                            <a class="card-link" href="{{ pets_list.get_absolute_url }}"
                                               style="margin-left: 0;">
                                                <div class="card" style="border-radius: 9px;">
                                                    <div class="card__badges">
                                                        <div class="card__badge card__badge--class">{{ pets_list.pet_status }}</div>
                                                    </div>
                                                    <div class="card__img" style="    border-radius: 9px;">
                                                        <img src="{{ MEDIA_URL }}{{ pets_list.petImagePath.url }}"
                                                             alt="{{ pets_list.pet_name }}">
                                                    </div>
                                                    <div class="card__content">
                                                        <h4 class="card__title">{{ pets_list.pet_name }}</h4>
                                                    </div>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </main>
                                </div>
                                {% include "include/pagination.html" with PetsListView=page_obj %}
                            </div>
                        </div>
                    {% else %}
                        <a class="reg-btn" href="{% url 'signup_url' %}">Регистрация</a>
                        <a class="enter-btn" href="/accounts/login/">Вход</a>
                        </div>
                        </form>
                        </div>
                        </nav>
                        </div>

                        <div class="main_container"
                             style="align-items: center; text-align: center; justify-content: center; display: flex;">
                            <div class="not_auth_card">
                                <p class="card_header" style="margin: 55px 205px 15px 205px;">ВОЙДИТЕ или
                                    ЗАРЕГИСТРИРУЙТЕСЬ</p>
                                <p class="card_header" style="margin-bottom: 55px;">В целях безопастности и сохранности
                                    данных просим вас <br> войти в аккаунт или зарегистрировать новый</p>
                            </div>
                        </div>
                    {% endif %}

<script>
    $(document).mouseup(function (e) {
        var container = $("#breed_filter");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            container.collapse('hide');
        }
    });
    $(document).mouseup(function (e) {
        var container = $("#age_filter");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            container.collapse('hide');
        }
    });
    $(document).mouseup(function (e) {
        var container = $("#gender_filter");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            container.collapse('hide');
        }
    });
    $(document).mouseup(function (e) {
        var container = $("#other_filter");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            container.collapse('hide');
        }
    });
</script>

</body>

</html>