<div class="pagination" style="margin-left: 40%; margin-top: 20px">
    <span class="step-links">
        {% if PetsListView.has_previous %}
            <a href="?page={{ PetsListView.previous_page_number }}">Предыдущая</a>
        {% endif %}
        <span class="current">
            Страница {{ PetsListView.number }} из {{ PetsListView.paginator.num_pages }}.
        </span>
        {% if PetsListView.has_next %}
            <a href="?page={{ PetsListView.next_page_number }}">Следующая</a>
        {% endif %}
    </span>
</div>