ajax==3.0.0
asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
decorator==5.0.7
Django==3.1.7
django-appconf==1.0.4
django-bootstrap-modal-forms==2.2.0
django-cleanup==5.2.0
django-crispy-forms==1.11.2
django-crontab==0.7.1
django-dbbackup==3.3.0
django-filter==2.4.0
django-jquery==3.1.0
django-phone-field==1.8.1
django-phonenumber-field==5.1.0
djangoajax==3.2
docopt==0.6.2
fanstatic==1.1
hdfs==2.6.0
idna==2.10
js.hogan==3.0.0.3
optional-django==0.1.0
phonenumbers==8.12.23
Pillow==8.1.2
PyMySQL==1.0.2
pytz==2021.1
requests==2.25.1
shutilwhich==1.1.0
six==1.15.0
sorl-thumbnail==12.3
sqlparse==0.4.1
urllib3==1.26.4
WebOb==1.8.7
