<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>PetShelter INC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/registr.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&family=Roboto:wght@400;500&display=swap"
          rel="stylesheet">
</head>

<body>
<div class="header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="logo_container">
                <img class="logo_img" src="{% static 'assets/img/skull_logo.png' %}">
                <a class="navbar-brand">NIK_RAYN INC</a>
            </div>
            <form class="d-flex">
                <div class="nav">
                    <a class="nav-link" href="/pets">Животные</a>
                    <a class="nav-link" href="/map">Карта</a>
                    <a class="nav-link" href="#">Объявления</a>
                    <a class="nav-link" href="#">Помощь</a>
                    <a class="enter-btn" href="/accounts/login/">Вход</a>
                </div>
            </form>
        </div>
    </nav>
</div>

<div class="main_container">
    <div class="pic">
        <img src="{% static 'assets/img/blue_dog.png' %}">
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="main_card">
            <p class="card_header">РЕГИСТРАЦИЯ</p>
            <div class="input_reg">
                <input class="user_name_input" name="username" placeholder="Имя пользователя">
            </div>
            <div class="input_reg">
                <input class="user_name_input" name="password1" type="password" placeholder="Пароль">
            </div>
            <div class="input_reg">
                <input class="user_name_input" name="password2" type="password" placeholder="Повторите пароль">
            </div>
            <div class="btn">
                <button class="submit_btn" type="submit">РЕГИСТРАЦИЯ</button>
            </div>
        </div>
    </form>
</div>
</body>

</html>